:host {
  text-align: center;
}

// ツールバー

.toolbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
  top: 0px;
  right: 1rem;
  position: absolute;
  height: 64px;
}

@media (max-width: 599px) {
  .toolbar {
    height: 56px;
  }
}

// ツールバー > タブ切り替えボタン

.toolbar .tab-button {
}

.toolbar .tab-button.active {
  background: #3f50b530;
  color: #222;
}
