:host {
  text-align: center;
}

// ツールバー

.toolbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  top: 0px;
  width: 95%;
  position: absolute;
  height: 64px;
}

@media (max-width: 599px) {
  .toolbar {
    height: 56px;
  }
}

// ツールバー > タブ切り替えボタン

.toolbar a,
.toolbar button {
  color: #333;
}

.toolbar .tab-button {
}

.toolbar .tab-button.active {
  background: #3f50b510;
  box-shadow: inset 0px 0px 3px 0px #3f50b563;
  color: #101010;
}
