<ng-container *ngIf="pageType === 'UNKNOWN'">
  <p>
    <mat-icon style="color: #f1c40f; font-size: 2.4rem">warning</mat-icon>
  </p>
  <p>このページは非対応です</p>
  <p style="font-size: 0.8rem">
    アソビステージの視聴画面を開いた状態で、<br />
    もう一度、ブックマークレットを起動してください。<br /><br />
    ※ 視聴画面を開いていても、このエラーが表示される場合は、<br />アソビステージの仕様変更が行われた可能性があります。
  </p>
</ng-container>

<ng-container *ngIf="pageType !== 'UNKNOWN'">
  <div class="toolbar">
    <button
      class="tab-button"
      matTooltip="コメントのスマートフォン連携"
      mat-icon-button
      (click)="activeTabName = 'mobileLink'"
      [ngClass]="{ active: activeTabName === 'mobileLink' }"
      [disabled]="activeTabName === 'mobileLink'"
    >
      <mat-icon>smartphone</mat-icon>
    </button>

    <button
      class="tab-button"
      matTooltip="コメントの分析"
      mat-icon-button
      (click)="activeTabName = 'commentAnalysis'"
      [ngClass]="{ active: activeTabName === 'commentAnalysis' }"
      [disabled]="activeTabName === 'commentAnalysis'"
    >
      <mat-icon>leaderboard</mat-icon>
    </button>

    <button
      class="tab-button"
      matTooltip="チャプタの生成"
      mat-icon-button
      (click)="activeTabName = 'chapter'"
      [ngClass]="{ active: activeTabName === 'chapter' }"
      [disabled]="activeTabName === 'chapter'"
    >
      <mat-icon>list</mat-icon>
    </button>

    <a
      href="https://github.com/arisucool/as-playground/wiki/News"
      target="_blank"
      rel="noopener"
      matTooltip="お知らせ"
      mat-icon-button
      style="position: absolute; right: 5px"
    >
      <mat-icon>info</mat-icon>
    </a>

    <!--
    <button
      (click)="openCommentBackupDialog()"
      mat-icon-button
      aria-label="記録したコメントのインポート/エクスポート"
      matTooltip="記録したコメントのインポート/エクスポート"
    >
      <mat-icon>import_export</mat-icon>
    </button>
    -->
  </div>

  <!-- スマートフォン連携 -->
  <ng-container *ngIf="activeTabName === 'mobileLink'">
    <div *ngIf="!peerId">しばらくお待ちください...</div>

    <div *ngIf="peerId && !dataConnection">
      <p style="color: #333333; font-size: 0.8rem; margin-top: 0.3rem">
        コメントをスマートフォンなどから 閲覧<ng-container
          *ngIf="isAllowedPostComment"
          >・投稿</ng-container
        >
        するには<br />QRコードを読み取ってください
      </p>
      <p>
        <qrcode
          [qrdata]="viewerUrl"
          [width]="128"
          [errorCorrectionLevel]="'M'"
        ></qrcode>
        <span style="font-size: 0.7rem">
          <a
            [href]="viewerUrl"
            style="color: #444; text-decoration: none"
            target="_blank"
            rel="noopener"
          >
            {{ viewerUrl }}
          </a>
        </span>
      </p>
    </div>

    <div *ngIf="peerId && dataConnection && dataConnection.open">
      端末が接続されています
    </div>
  </ng-container>
  <!---->

  <!-- コメント分析 -->
  <ng-container *ngIf="activeTabName === 'commentAnalysis'">
    <app-comment-analysis
      [eventName]="eventName"
      *ngIf="eventName"
    ></app-comment-analysis>

    <ng-container *ngIf="!eventName">
      <p>
        <mat-icon style="color: #f1c40f; font-size: 2.4rem">warning</mat-icon>
      </p>
      <p>映像を再生してください</p>
      <p style="font-size: 0.8rem">
        この機能を使用するには、映像をしばらく再生してください
      </p>
    </ng-container>
  </ng-container>
  <!---->

  <!-- チャプタ生成 -->
  <ng-container *ngIf="activeTabName === 'chapter'">
    <app-chapter
      [eventName]="eventName"
      [playerCurrentTimeSeconds]="playerCurrentTimeSeconds"
      *ngIf="eventName"
    ></app-chapter>

    <ng-container *ngIf="!eventName">
      <p>
        <mat-icon style="color: #f1c40f; font-size: 2.4rem">warning</mat-icon>
      </p>
      <p>映像を再生してください</p>
      <p style="font-size: 0.8rem">
        この機能を使用するには、映像をしばらく再生してください
      </p>
    </ng-container>
  </ng-container>
  <!---->
</ng-container>
