<h2 mat-dialog-title style="margin-bottom: 5px">
  コメントのインポート/エクスポート
</h2>

<mat-dialog-content
  class="mat-typography"
  *ngIf="eventNames == null || isProcessing"
>
  <p>しばらくお待ちください...</p>
</mat-dialog-content>

<mat-dialog-content
  class="mat-typography"
  *ngIf="eventNames != null && !isProcessing"
>
  <h3>コメントのインポート</h3>
  <p>
    <input
      name="importFile"
      style="display: none"
      #importFileInput
      (change)="onImportFileChanged()"
      type="file"
      accept=".json"
    />
    <button mat-raised-button color="primary" (click)="openFileChooser()">
      <mat-icon>attach_file</mat-icon>
      JSON ファイルを選択
    </button>
  </p>
  <p style="font-size: 0.8rem; color: #b82727" *ngIf="importFileError">
    {{ importFileError }}
  </p>
  <p style="font-size: 0.8rem" *ngIf="numOfImportedComments != -1">
    <span style="color: #54a128">インポート完了しました</span> &nbsp;&nbsp;
    {{ importedEventName }} ({{ numOfImportedComments }}件)
  </p>

  <h3>コメントのエクスポート</h3>
  <p style="margin-bottom: 0" *ngIf="!isExporting">
    <mat-form-field appearance="fill" floatLabel="always">
      <mat-label>エクスポートするイベント</mat-label>
      <mat-select
        name="selectedEventName"
        (selectionChange)="onSelectedRecordedEventName($event)"
      >
        <mat-option
          *ngFor="let eventName of eventNames"
          [value]="eventName"
          [matTooltip]="eventName"
          >{{ eventName }}</mat-option
        >
      </mat-select>
    </mat-form-field>
    &nbsp;&nbsp;
    <button mat-raised-button color="primary" (click)="exportComments()">
      エクスポート
    </button>
  </p>
</mat-dialog-content>

<mat-dialog-actions align="end" style="padding-top: 0">
  <button mat-button mat-dialog-close>閉じる</button>
</mat-dialog-actions>
