<div class="toolbar">
  <button
    (click)="setNoSleep(true)"
    *ngIf="!enableNoSleep"
    mat-icon-button
    aria-label="画面スリープを抑制する"
    matTooltip="画面スリープを抑制する"
  >
    <mat-icon>lock_open</mat-icon>
  </button>
  <button
    (click)="setNoSleep(false)"
    *ngIf="enableNoSleep"
    mat-icon-button
    aria-label="画面スリープの抑制を解除する"
    matTooltip="画面スリープの抑制を解除する"
  >
    <mat-icon>lock</mat-icon>
  </button>
</div>

<div class="status">
  <p *ngIf="!errorText && !peer">初期化中...</p>
  <p *ngIf="!errorText && peer && !dataConnection">ホストへ接続しています...</p>
  <p *ngIf="!errorText && peer && dataConnection && comments.length == 0">
    新着コメントを待機しています...
  </p>
  <p *ngIf="errorText">エラー: {{ errorText }}</p>
</div>

<mat-list>
  <mat-list-item *ngFor="let comment of comments.slice().reverse()">
    <h3 matLine>{{ comment.nickname }}</h3>
    <p matLine>
      <span> {{ comment.comment }} </span>
    </p>
  </mat-list-item>
</mat-list>
