<div class="toolbar-override">
  <button
    (click)="setNoSleep(true)"
    *ngIf="!enableNoSleep"
    mat-icon-button
    aria-label="画面スリープを抑制する"
    matTooltip="画面スリープを抑制する"
  >
    <mat-icon>lock_open</mat-icon>
  </button>
  <button
    (click)="setNoSleep(false)"
    *ngIf="enableNoSleep"
    mat-icon-button
    aria-label="画面スリープの抑制を解除する"
    matTooltip="画面スリープの抑制を解除する"
  >
    <mat-icon>lock</mat-icon>
  </button>
</div>

<div class="content">
  <div class="status">
    <ng-container *ngIf="!errorText && !peer">
      <p>初期化中...</p>
    </ng-container>
    <ng-container *ngIf="!errorText && peer && !dataConnection">
      <p>ホストへ接続しています...</p>
    </ng-container>
    <ng-container
      *ngIf="!errorText && peer && dataConnection && comments.length == 0"
    >
      <p>新着コメントを待機しています...</p>
    </ng-container>
    <ng-container *ngIf="errorText">
      <p>
        <mat-icon style="color: #f1c40f">warning</mat-icon>
      </p>
      <p>エラー</p>
      <p class="detail">
        {{ errorText }}
      </p>
    </ng-container>
  </div>

  <mat-list class="comments">
    <mat-list-item *ngFor="let comment of comments.slice().reverse()">
      <h3 matLine [style.color]="comment.nicknameColor">
        {{ comment.nickname }}
      </h3>
      <p matLine>
        <span> {{ comment.comment }} </span>
      </p>
    </mat-list-item>
  </mat-list>

  <form
    class="comment-post-form"
    #commentPostForm
    (ngSubmit)="
      postComment(commentNicknameInput.value, commentMessageInput.value)
    "
  >
    <mat-form-field style="width: 30%" floatLabel="never">
      <input
        matInput
        placeholder="ニックネーム"
        [(ngModel)]="commentNickname"
        #commentNicknameInput
      />
    </mat-form-field>
    <mat-form-field floatLabel="never">
      <input matInput placeholder="メッセージ" #commentMessageInput />
    </mat-form-field>
    <button
      mat-icon-button
      aria-label="コメントを投稿する"
      matTooltip="コメントを投稿する"
      [disabled]="isCommentSending"
    >
      <mat-icon *ngIf="!isCommentSending">send</mat-icon>
      <mat-icon class="sending" *ngIf="isCommentSending">refresh</mat-icon>
    </button>

    <!-- コメント投稿が利用できないときのメッセージ -->
    <div
      class="message-unavailable-post-comment"
      *ngIf="!availableFunctions.postComment"
    >
      <p>コメント投稿は現在利用できません</p>
      <button
        (click)="showCommentPostUnavailableDetailMessage()"
        mat-icon-button
      >
        <mat-icon>help_outline</mat-icon>
      </button>
    </div>
    <!---->
  </form>
</div>
