// 全体

::ng-deep body {
  background: #424242;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

:host {
  color: #fafafa;
}

// ヘッダ

::ng-deep mat-toolbar {
  position: fixed;
  top: 0px;
  z-index: 100;
}

.toolbar-override {
  display: flex;
  position: fixed;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
  right: 1rem;
  top: 0;
  height: 64px;
  z-index: 110;
}

@media (max-width: 599px) {
  .toolbar-override {
    height: 56px;
  }
}

// コンテンツ

::ng-deep .app-content {
  min-height: calc(100vh - 64px);
  position: relative;
  top: 64px;
  padding-bottom: 1rem;
}

// ステータス表示

.status {
  display: block;
  text-align: center;

  mat-icon {
    font-size: 2.4rem;
    width: 2.4rem;
    height: 2.4rem;
  }

  p {
    font-size: 1.2rem;
  }

  p.detail {
    font-size: 0.8rem;
  }
}

// コメント一覧

.comments {
  //color: $text-color;
}

.comments {
  padding-bottom: 4rem;

  mat-list-item {
    background: #131313dd;
    border-radius: 6px;
    margin-bottom: 0.5rem;
  }
}
