<ng-container *ngIf="chartData === undefined">
  <p>
    コメントを集計しています...<br />
    そのままお待ちください...
  </p>
</ng-container>

<ng-container *ngIf="chartData !== undefined && chartData.length === 0">
  <p>
    コメントデータがありません
    <br />
    動画を再生してコメントを受信してください
  </p>
</ng-container>

<ng-container
  *ngIf="
    chartData !== undefined &&
    1 <= chartData.length &&
    chartData[0].series.length <= 2
  "
>
  <p>
    コメントデータが少ないです
    <br />
    数分以上、動画を再生し続けてください
  </p>
</ng-container>

<ng-container
  *ngIf="
    chartData !== undefined &&
    1 <= chartData.length &&
    3 <= chartData[0].series.length
  "
>
  <div class="chart-container">
    <ngx-charts-line-chart
      [view]="[440, 230]"
      xAxis="true"
      yAxis="true"
      xAxisLabel="時分"
      yAxisLabel="コメント数"
      showXAxisLabel="true"
      showYAxisLabel="true"
      [results]="chartData"
      (select)="onChartSelect($event)"
    >
    </ngx-charts-line-chart>
  </div>
</ng-container>
