.app-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.app-icon-container .app-icon {
  height: 32px;
}

.app-content {
  box-sizing: border-box;
  padding: 1rem;
  width: 100%;
}
