<div class="caption">
  <h2>
    as-playground
    <ng-container *ngIf="!isOfficialVersion">(改)</ng-container> へようこそ
  </h2>
</div>

<mat-card *ngIf="isOfficialVersion">
  <mat-card-title>アソビステージをちょっと便利にする遊び場</mat-card-title>
  <mat-card-content>
    主な機能:
    <ul>
      <li>コメントのニコニコ風表示</li>
      <li>コメントのスマートフォン連携 (表示のみ)</li>
      <li>コメントのグラフ化</li>
      <li>楽曲コメントからのチャプタ生成</li>
    </ul>

    <ng-container *ngIf="isOfficialVersion">
      <small
        >今後の実装予定やお知らせなどは、
        <a href="https://github.com/arisucool/as-playground" target="_blank"
          >as-playground by arisu.cool 🍓</a
        >
        プロジェクトページ、または
        <a href="https://twitter.com/arisucool" target="_blank" rel="noopener"
          >@arisucool</a
        >
        をご覧ください</small
      >
    </ng-container>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-title>使い方</mat-card-title>
  <mat-card-content>
    <h3>1. ご承諾事項・免責への同意</h3>

    <p>
      <a
        href="https://github.com/arisucool/as-playground#%E3%81%94%E6%89%BF%E8%AB%BE%E4%BA%8B%E9%A0%85-"
        target="_blank"
        >ご承諾事項・免責</a
      >
      にご同意ください。ご使用になられた時点で同意いただいたものとみなします。
    </p>

    <h3>2. ブックマークレットの追加</h3>

    <h4>PC - Google Chrome</h4>

    <p>以下のボタンをブックマークバーへドラッグアンドドロップしてください。</p>
    <p>
      <a [href]="bookmarklet" mat-raised-button color="primary"
        >as-playground</a
      >
    </p>

    <h4>iOS / iPad OS - Safari</h4>

    <ol>
      <li>
        Safari にて、適当なページ (例えば、現在のページ)
        を「お気に入りへ追加」してください。
      </li>
      <li>
        お気に入り一覧を開いて、先ほどブックマークしたページをロングタップし、「編集」をタップしてください。
      </li>
      <li>
        以下の内容をコピーして、URL欄へ貼り付けてください。<br /><br />
        <mat-form-field appearance="fill" style="width: 50%">
          <textarea matInput rows="3" cols="10" readonly>{{
            bookmarkletRaw
          }}</textarea>
        </mat-form-field>
      </li>
    </ol>

    <h3>3. as-playground の起動</h3>

    <ol>
      <li>
        アソビステージにて、コメントのある画面
        (エントランス画面、公演視聴画面、アーカイブ視聴画面など)
        を開いてください。
      </li>
      <li>続けて、先ほど保存したブックマークレットをクリックしてください。</li>
      <li>
        画面右下に as-playground
        の領域が表示されので、画面の指示に従って操作してください。
      </li>
    </ol>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-title>ライセンス・開発について</mat-card-title>
  <mat-card-content>
    <p>
      <ng-container *ngIf="isOfficialVersion">
        このアプリケーションは、
        <a href="https://github.com/arisucool/as-playground" target="_blank"
          >as-playground</a
        >
        by arisu.cool 🍓
        プロジェクトにて開発されているオープンソースソフトウェアです。<br />
      </ng-container>
      <ng-container *ngIf="!isOfficialVersion">
        このアプリケーションは、
        <a href="https://github.com/arisucool/as-playground" target="_blank"
          >as-playground</a
        >
        プロジェクトのオープンソースソフトウェアから派生した、フォーク版です。<br />
      </ng-container>

      サードパーティライセンスについては、<a
        href="3rdpartylicenses.txt"
        target="_blank"
        >こちら</a
      >をご覧ください。
    </p>
    <p>
      このアプリケーションは、アソビステージの運営者様と全く関係のない一個人が利便性向上のために開発しています。絶対に運営者様へ問い合わせを行わないでください。<br />
      尚、アソビステージは、アソビストア (BANDAI NAMCO Entertainment Inc.)
      様が運営されているサービスであり商標です。
    </p>
  </mat-card-content>
</mat-card>
